<div class = "underbox">
<%= link_to alltime_search_path do %>
<div class = "navbox"><span class = "navtext">All time</span></div>
<% end %>
<%= link_to lastweek_search_path do %>
<div class = "navbox"><span class = "navtext">Last week</span></div>
<% end %>
<%= link_to lastmonth_search_path do %>
<div class = "navbox"><span class = "navtext">Last month</span></div>
<% end %>
</div>