<%= render "notices/form" %>
<div id = "timecontainerbox">
<div id = "firsttab" class = "timebox">Notices Today</div>
<div id = "weeknotices" class = "timebox">Notices Last Week</div>
<div id = "monthnotices" class = "timebox">Notices Last Month</div>
</div>
<div id = "answerbox">Bigotted racist</div>