<span class = "backtext"><%= backnotice.title %></span> | 
<span class = "backtext"><%= link_to "Show", notice_path(backnotice) %></span> | 
<span class = "backtext"><%= link_to "Destroy", notice_path(backnotice), method: :delete %></span><br />